---
layout: layout.liquid
title: Lab Assignment #4
---

<h1><strong>Planetary Playing Cards</strong></h1>
<main>
    {% card "sun" "Sun" "Type G2V" %}
    {% card "mercury" "Mercury" "0.4 AU" %}
    {% card "venus" "Venus" "0.7 AU" %}
    {% card "earth" "Earth" "1 AU" %}
    {% card "mars" "Mars" "1.5 AU" %}
    {% card "jupiter" "Jupiter" "5.2 AU" %}
    {% card "sarturn" "Sarturn" "9.5AU" %}
    {% card "uranus" "Uranus" "19.2 AU" %}
    {% card "neptune" "Neptune" "30.2 AU" %}
</main>